@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');

:root {
    /* ? colores */
    --primaryColor: #197f58;
    --secondColor: #ef9919;
    --backgroundContentColor: #f9f5f2;
    --textBodyColor: #3f3f3e;
    --textColorButtons: #ffffff;
    --backgroundInput: #94949dde;
    --backgroundColorContact: #f0f0f4be;

    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    background-color: rgb(242, 234, 234);
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.years {
    color: var(--secondColor);
}

.profile {
    background-color: var(--primaryColor);
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.arrow {
    margin-left: 10px;
}

/* ----------- */

.navbar {
    width: 100%;
    height: 50px;
    padding: 2rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: var(--primaryColor);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
    color: var(--textColorButtons);
}

.navbar .logo:hover {
    color: var(--secondColor);
}

.menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color: var(--primaryColor);

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    transform: translateX(-100%);
    transition: transform 0.5s;
}

.menu a {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.2rem;
    padding: .5rem;
    color: var(--textColorButtons);
}

.menu a:hover {
    font-weight: bold;
    color: var(--secondColor);
}

.menu a:hover::before {
    content: "";
    width: 100%;
    height: 3px;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--secondColor);
}

.menu-show {
    transform: translateX(0);
}

.bars {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
}

.bars__line, 
.bars__line::after,
.bars__line::before {
    position: relative;
    width: 90%;
    height: 0.3rem;
    background-color: var(--textColorButtons);
    border-radius: 5px;
    transition: background .5s, top .5s, transform .5s;
}

.bars__line::after,
.bars__line::before {
    content: "";
    position: absolute;
    width: 100%;
    top: 13px;
} 

.bars__line::before {
    top: -13px;
}

.active .bars__line {
    background-color: transparent;
}

.active .bars__line::after {
    top: 0;
    transform: rotate(45deg);
}

.active .bars__line::before  {
    top: 0;
    transform: rotate(-45deg);
}

/* ! perfil */

.profile {
    position: relative;
    overflow: hidden;
}

.content__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    margin-top: 6rem;
}

.profile .border-left {
    position: absolute;
    width: 80px;
    height: 220px;
    background-color: rgb(242, 234, 234);

    bottom: -100px;
    left: -10px;
    transform: rotate(140deg);
}

.profile .border-right {
    position: absolute;
    width: 80px;
    height: 220px;
    background-color: rgb(242, 234, 234);

    bottom: -100px;
    right: -10px;
    transform: rotate(-140deg);
}

.photo__profile {
    position: relative;
}

.photo__profile .uiD {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--textColorButtons);
    box-shadow: 0px 5px 3px 0px rgba(246, 244, 244, 0.264);
    padding: 0.3rem 1.4rem;
    border-radius: 2rem;
    font-size: 14px;


    position: absolute;
    top: -30px;
    left: -70px;
}

.photo__profile .tecnology {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--textColorButtons);
    box-shadow: 0px 5px 3px 0px rgba(246, 244, 244, 0.264);
    padding: 0.3rem 1.4rem;
    border-radius: 2rem;
    font-size: 14px;


    position: absolute;
    bottom: 7px;
    right: -90px;
}

.photo__profile .uiD .years,
.photo__profile .tecnology .years {
    font-weight: 600;
}

.profile__img .mobile {
    object-fit: cover;
    border-radius: 2rem;
}

.profile__img .desktop {
    object-fit: cover;
    border-radius: 3rem;
    display: none;
}

.content__title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
}

.content__title .title {
    color: var(--textColorButtons);
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
}

.content__title .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__title .description__paragraph {
    width: 90%;
    text-align: center;
    color: var(--textColorButtons);
    margin-bottom: 1rem;
}

.content__socials {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem 0 1rem 0;
}

.content__socials .social {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content__socials .social .redes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 1rem 0 2rem 0;
    
    cursor: pointer;
}

/* ! Question */

.colaboration {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1rem;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    box-shadow: 5px 5px 5px 0px rgba(179,175,179,1);
    gap: 1rem;
    flex-direction: column;
    background-color: var(--backgroundColorContact);

    z-index: 1000;
    position: relative;
}

.colaboration .question {
    text-align: center;
    color: var(--textBodyColor);
    font-weight: 600;
}

.colaboration .email-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.colaboration .email-contact input {
    width: 90%;
    border: none;
    padding: .5rem 1rem; 
    background-color: var(--backgroundInput);
    font-weight: 400;
    border-radius: 1rem;
}

.colaboration .email-contact input:focus {
    outline: none;
}

.colaboration .email-contact input::placeholder {
    color: var(--textBodyColor);
}

.colaboration .email-contact .btn {
    font-weight: 600;
    padding: .5rem 1rem;
    border: none;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    background-color: var(--primaryColor);
    color: var(--textColorButtons);
    cursor: pointer;

    transition: background .5s;
}

.colaboration .email-contact .btn:hover {
    color: #000;
    background-color: var(--secondColor);
}

/* ! Acerca de mi */

.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.3rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem; /* Eliminar */
    padding: 1rem;
}

.content-about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 1rem;
}

.content-about .about__title {
    font-size: 2rem;
    align-self: start;
    color: var(--textBodyColor);
    font-weight: bold;
}

.content-about .about__paragraph {
    padding: 1rem;
    text-align: justify;
    align-self: flex-start;
    border-left: 3px solid var(--primaryColor);
}

.content__download {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: var(--textColorButtons);

    background-color: var(--primaryColor);
    padding: .5rem 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
    
    transition: background .3s;
}

.content__download:hover { 
    color: #000;
    background-color: var(--secondColor);
}

.content__download .icon {
    font-size: 1rem;
    animation: arrowD .5s infinite;
}

.content__download .download {
    font-weight: 600;
}

@keyframes arrowD {
    0% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* ! estudios */

.studie {
    width: 100%;
    padding: 1rem;
    margin-bottom: 4rem;
}

.studie .studies__title {
    font-size: 2rem;
    color: var(--textBodyColor);
    margin-bottom: 2rem;
}

.studies__experience {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.4rem;

    padding: 1rem;
}

.studies__experience .hability {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
    background-color: var();

    padding: 3rem 1rem;
    border-radius: 1.2rem;
    box-shadow: 5px 5px 10px -4px rgba(153,153,153,1);
}

.hability .hability__subtitle {
    width: 80%;
    text-align: center;
    font-weight: 600;
    color: var(--textBodyColor);
    padding: .4rem;
}

.hability .hability__description {
    text-align: center;
    font-weight: 400;
    color: var(--textBodyColor);
}

/* ! Skills */

.content__skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;


    margin-bottom: 5rem;
}

.skill__title {
    font-size: 2rem;
    color: var(--textBodyColor);
}

.skill {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.skill .skill__range {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skill__range .skill__subtitle {
    font-weight: 600;
}

.skill__range .skill__percentage {
    color: var(--primaryColor);
    font-weight: 600;
    font-size: .8rem;
}

.skill .skill__progress {
    width: 100%;
    height: 10px;
    border-radius: 1rem;
    position: relative;
    display: flex;

    background-color: var(--backgroundInput);
}

.skill .skill__progress span {
    height: 10px;
    background-color: var(--primaryColor);
    border-radius: 1rem;

    position: absolute;

    transition: animation 1s;
}

.skill .skill__progress:nth-child(2) span {
    width: 80%;
    animation: barProgress 1s ease-in;
    
}

.skill .skill__progress:nth-child(4) span {
    width: 95%;
    animation: barProgress 1s ease;
}

.skill .skill__progress:nth-child(6) span {
    width: 90%;
    animation: barProgress 1s ease-in;
}

.skill .skill__progress:nth-child(8) span {
    width: 75%;
    animation: barProgress 1s ease-in;
}

@keyframes barProgress {
    0% {
        width: 0px;
    }

    100% {
        width: 95%;
    }
}

/* ! Experiencias */

.experience {
    width: 100%;
    margin-bottom: 4rem;
}

.experience .exp__title {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--textBodyColor);
}

.swiper-hero {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: var(--textColorButtons);
}

.swiper-slide .slide-card {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    background-color: var(--backgroundContentColor);
}

.swiper-hero .swiper-button-prev,
.swiper-hero .swiper-button-next {
    /* width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50%;
    background-color: var(--secondColor);
    color: var(--textColorButtons);
    font-weight: 600;
    --swiper-navigation-size: 20px; */
    display: none;
}

.swiper-hero .swiper-pagination {
    --swiper-pagination-color: #000;
    --swiper-pagination-bullet-size: 8px;
    --swiper-pagination-bullet-inactive-color: grey;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 3px;
}

.swiper-hero .swiper-pagination-bullet {
    box-shadow: inset 0 0 0 1px #000;
}

.swiper-hero .swiper-pagination-bullet-active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.556);
}

.expe__items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.expe__items .fa-icon {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--secondColor);
}

.expe__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.expe__item .item__subtitle {
    color: var(--textBodyColor);
    font-weight: 400;
}

.expe__item .year {
    font-weight: 600;
}

/* ! porfolio */

.porfolio {
    width: 100%;
    margin-bottom: 3rem;
}

.porfolio .porfolio__sub-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--textBodyColor);
}

.porfolio__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 90%;
}

.porfolio__cards img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.porfolio__cards img:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.porfolio__cards img:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.porfolio__cards img:nth-child(3) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.porfolio__cards img:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

/* ! Contacto */

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

.contact .contact__title {
    font-size: 2rem;
    color: var(--textBodyColor);
}

.contact__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.contact__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
}

.contact__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--backgroundInput);
}

.contact__item .contact__description {
    font-size: 19px;
    font-weight: 600;
    color: var(--textBodyColor);
}

.contact__item .contact__numbers {
    font-weight: 400;
    font-size: 18px;
    color: var(--backgroundInput);

    cursor: pointer;
}

/* ! Footer */

footer {
    width: 100%;
    text-align: center;
    background-color: var(--primaryColor);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .foote-title {
    color: var(--textColorButtons);
    font-size: 1.5rem;

    margin-bottom: 1rem;
}

footer .footer-paragraph {
    color: var(--textColorButtons);
    font-size: 1.1rem;
    font-weight: 400;
}

.footer-paragraph i{
    margin: 0 5px;
}

.footer-paragraph a {
    color: var(--textColorButtons);
}


/* medias Queris */

@media (min-width: 700px) {
    .icons {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        height: auto;
        flex-direction: row ;
        transform: translateX(0);
    }

    .bars {
        display: none;
    }

    .profile .border-left,
    .profile .border-right {
        display: none;
    }

    .content__profile {
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .content__profile .photo__profile {
        grid-column: 1 / 2;
        grid-row: 2 /3;
    }
    
    .profile__img .mobile {
        display: none;
    }

    .profile__img .desktop {
        display: block;
    }

    .content__title .title {
        font-size: 2.5rem;
    }

    .description .description__paragraph {
        font-size: 1.3rem;
    }

    .photo__profile .uiD {
        padding: .5rem 2rem;
        top: 25px;
        left: -60px;
    }

    .photo__profile .uiD .years,
    .photo__profile .tecnology .years {
        font-weight: 600;
    }

    
    .photo__profile .tecnology {
        padding: .5rem 2rem;
        bottom: 25px;
        right: -80px;

    }

    .content__socials .social {
        justify-content: center;
        gap: 3rem;
    }

    .colaboration {
        width: 70%;
    }

    .colaboration .email-contact .btn {
    padding: .5rem 3rem;
}

    .about {
        width: 70%;
    }

    .skill {
        width: 70%;
    }

    .swiper-hero .swiper-button-prev,
    .swiper-hero .swiper-button-next {
        display: none;
    }

    .swiper-hero .swiper-pagination {
        display: none;
    }

    .studies__experience {
        flex-direction: row;
        gap: .5rem;
    }

    .studies__experience .hability {
        width: 30%;
        padding: 1rem 3rem;
    }

    .porfolio__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .porfolio__cards img:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    
    .porfolio__cards img:nth-child(2) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    
    .porfolio__cards img:nth-child(3) {
        grid-column: 3 / -1;
        grid-row: 1 / -1;
    }
    
    .porfolio__cards img:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    .contact__items {
        gap: 5rem;
    }

    footer .foote-title {
        font-size: 2rem;
    }
    
    footer .footer-paragraph {
        font-size: 1.3rem;
    }
}